{% extends "base.html" %}


{% block title %}
{{ title }} | Flight Guide
{% endblock %}


{% block head %}

<!--
This makes relative Markdown asset paths such as:

assets/diagram.png

resolve underneath the current lesson URL.
-->

<base href="{{ request.path.rstrip('/') }}/">

{% endblock %}


{% block content %}

<article class="lesson">

    <div class="lesson-location">

        {{ current_path }}

    </div>


    <div class="markdown-content">

        {{ lesson_html | safe }}

    </div>

</article>

{% endblock %}